.custom-btn {
  font-size: 17px;
  font-weight: 500;
  /* background: ; */
  color: #fff !important;
  background: #262626;
  border-radius: 30px;
  border: 1.5px solid #fe0da7;
  padding: 7px 20px;
}

.custom-txt-clr {
  color: #fe0da7;
}

.contactme-txt {
  font-size: 25px;
}
